# Arquivo para praticar aula vistas na DSA

Objeto

In [9]:
# Criando uma classe
class Geladeira:
    def __init__(self, alimento, validade):
        self.alimento = alimento
        self.validade = validade

In [10]:
Geladeira1 = Geladeira("leite", "2023-10-01")
# Geladeira2 = Geladeira("Ovo", "2023-10-05")
# Geladeira3 = Geladeira("Cebola", "2023-10-10")

In [12]:
Geladeira1.alimento

'leite'

In [14]:
Geladeira1.validade

'2023-10-01'

In [2]:
class GuardaRoupa:
    def __init__ (self, roupa, tamanho, tipo):
        self.roupa = roupa
        self.tamanho = tamanho
        self.tipo = tipo

In [3]:
GuardaRoupa1 = GuardaRoupa ("Casaco", "M", "Casual")

In [4]:
GuardaRoupa1.roupa

'Casaco'

In [5]:
GuardaRoupa1.tamanho

'M'

In [6]:
GuardaRoupa1.tipo

'Casual'

In [17]:
class Aluno:
    def __init__ (self, nome, idade, media, materia):
        self.nome = nome
        self.idade = idade 
        self.media = media
        self.materia = materia
    def listAluno(self):
        print("O aluno " + self.nome + " tem " + str(self.idade) + " anos e possui media de " + str(self.media) + " em " + self.materia)

In [18]:
Aluno1 = Aluno("Jorge", "25", "6.5", "quimica")

In [19]:
Aluno1.listAluno()

O aluno Jorge tem 25anos e possui media de 6.5 em quimica

In [20]:
hasattr(Aluno1, "media")

True

In [21]:
hasattr(Aluno1, 'nome')

True

In [22]:
setattr(Aluno1, "media", "7.5")

In [24]:
hasattr(Aluno1, "media")

True

In [26]:
Aluno1.listAluno()

O aluno Jorge tem 25anos e possui media de 7.5 em quimica

In [31]:
class Computador:
    def __init__ (self, processador, monitor, Ram):
        self.processador = processador
        self.monitor = monitor
        self.Ram = Ram
    def listComputador(self):
        print("O computador tem processador de " + self.processador + " com " + str(self.monitor) + " monitores e " + str(self.Ram) + "GB de memoria RAM.")

In [32]:
ComputadorGamer = Computador("i7", "2", "16")

In [33]:
ComputadorGamer.listComputador()

O computador tem processador de i7 com 2 monitores e 16GB de memoria RAM.

In [35]:
hasattr(ComputadorGamer, "monitor")

True

In [37]:
setattr(ComputadorGamer, 'monitor', "0")

In [38]:
ComputadorGamer.listComputador()

O computador tem processador de i7 com 0 monitores e 16GB de memoria RAM.

In [39]:
delattr(ComputadorGamer, "monitor")

In [42]:
hasattr(ComputadorGamer, "monitor")

False

# Praticando metodo

In [18]:
class Computador():
    def __init__(self, cpu = 1):
        self.cpu = cpu
    def ligado():
        return(self, cpu.ligado)

# Herança

A herança é um conceito que pode ser utilizado para criação de novas classe sem perder metodos ou atributos de uma classe original fazendo com que herde alguns aspectos da superclasse.

A herança pode ser util para diminuir linhas de codigo e facilitar a leitura do codigo ou manutenção caso necessario.

In [1]:
class Internet():
    def __init__(self):
        print("Objeto criado")
    def conectar(self):
        print("Conectando a internet")
    def desconectar(self):
        print("Desconectando a internet")
    def caiu(self):
        print("Sua net caiu paizao")

In [2]:
class Celular(Internet):
    def __init__(self):
        Internet.__init__(self)
        print("Objeto Celular criado")
    def wifi(self):
        print("Ligando o wifi")
    def desligando(self):
        print("Desligando celular")

In [4]:
iphone = Celular()

Objeto criado
Objeto Celular criado

In [5]:
iphone.wifi()

Ligando o wifi

In [6]:
iphone.conectar()

Conectando a internet

In [7]:
iphone.caiu()

Sua net caiu paizao

In [12]:
class Notebook(Internet):
    def __init__ (self):
        Internet.__init__(self)
        print("Objeto criado")
    def ligando(self):
        print("Ligando notebook")

In [13]:
positivo = Notebook()

Objeto criado
Objeto criado

In [14]:
positivo.ligando()

Ligando notebook

In [17]:
positivo.conectar()

Conectando a internet

In [16]:
positivo.desconectar()

Desconectando a internet

# NumPy

In [2]:
import numpy as np

In [4]:
array1 = np.array([1,2,2,2,2,2,2,2,56,3,3,5,2,4,4,4,45,24,4,4,54,4,4,54,2454,24,21,214,21,21,21,21,21,21,21])

In [6]:
print(array1)

[   1    2    2    2    2    2    2    2   56    3    3    5    2    4
    4    4   45   24    4    4   54    4    4   54 2454   24   21  214
   21   21   21   21   21   21   21]

In [7]:
# Para saber quando numero possui no array
array1.shape

(35,)

In [18]:
array2 = np.array([2,3,5,6,4])
print(array2)
print("Possui %s numeros dentro do array" %str(array2.shape))

[2 3 5 6 4]
Possui (5,) numeros dentro do array

Matrizes podem ser trabalhadas usando numpy, com a biblioteca podemos criar matrizes e utilizar algumas funções para manipular dados e resultados.
como: matrix, ones , etc
Podemos realizar alteração da busca, alterando valor na matriz, trocar o tipo definido.

# Praticando e usando pandas

In [1]:
!pip install -q pandas==1.5.3

In [2]:
import pandas as pd

In [3]:
# Criando um dicionario
futebol = {'Time':['Time1', 'Time2', 'Time3', 'Time4'],
            'Jogos':[10,10,10,10],
            'Gols Marcados':[12, 5, 15, 8],
            'Gols Sofridos':[5,10,7,2]}

In [4]:
# Iremos importar o DataFrame para realizar a formatação e nos auxiliar a buscar os dados que queremos
from pandas import DataFrame

In [5]:
df = DataFrame(futebol)

In [6]:
df.head()

    Time  Jogos  Gols Marcados  Gols Sofridos
0  Time1     10             12              5
1  Time2     10              5             10
2  Time3     10             15              7
3  Time4     10              8              2

In [21]:
# Agora vamos reorganizar as colunas e linhas alem de adicionar mais colunas
df2 = DataFrame(futebol, columns =['Time', 'Jogos', 'Gols Marcados', 'Gols Sofridos', 'Saldo de Gols'],
                    index = ['1','2','3','4'])

In [23]:
df2

    Time  Jogos  Gols Marcados  Gols Sofridos Saldo de Gols
1  Time1     10             12              5           NaN
2  Time2     10              5             10           NaN
3  Time3     10             15              7           NaN
4  Time4     10              8              2           NaN

Os valor da coluna inserida via comando foi automaticamente preenchida pelo pandas com NaN, sem informação, essa coluna sem valores pode atrapalhar nossa consulta e leitura de dados

In [19]:
df2.dtypes

Time             object
Jogos             int64
Gols Marcados     int64
Gols Sofridos     int64
Saldo de Gols    object
dtype: object

In [18]:
df.values

array([['Time1', 10, 12, 5],
       ['Time2', 10, 5, 10],
       ['Time3', 10, 15, 7],
       ['Time4', 10, 8, 2]], dtype=object)

In [27]:
# Selecionando a linha que definimos na tabela, conseguimos consultar qualquer dados da tabela.
df2.filter(items = ['3'], axis = 0)

    Time  Jogos  Gols Marcados  Gols Sofridos Saldo de Gols
3  Time3     10             15              7           NaN